body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 400px;
}
body, input, button {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: var(--YLNNHc);
}
body {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.left-side,
.right-side {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}


.app-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.profile-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.search-icon {
    width: 1rem;
    height: 1rem;
}

.mic,
.camera {
    width: 1.5rem;
    height: 1.5rem;
}

.google-logo {
    width: 17rem;
    height: 5.75rem;
    margin-bottom: 1.25rem;
}

a {
    text-decoration: none;
    color: black
}

.middle-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1.2rem;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search-form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfe1e5;
    gap: 1rem;
    border-radius: 30px;
    padding: 0.25rem 1rem;
}

.search-form label {
    display: none;
}

.search-form-input input {
    width: 27rem;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.search-form-buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    padding: 0 16px;
    height: 36px;
    margin: 0 4px;
    cursor: pointer;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: f2f2f2;
    padding: 1rem 1.5rem;
    margin-top: 15rem;
}

.bottom-left,
.bottom-right {
    display: flex;
    gap: 1.8rem
}
