body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 400px;
}
body, input, button {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: var(--YLNNHc);
}
body {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.left-side,
.right-side {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}


.app-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.profile-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.search-icon {
    width: 1rem;
    height: 1rem;
}

.mic,
.camera {
    width: 1.5rem;
    height: 1.5rem;
}

.google-logo {
    width: 17rem;
    height: 5.75rem;
    margin-bottom: 1.25rem;
}

a {
    text-decoration: none;
    color: black
}